NEXT_PUBLIC_SITE_URL=https://your-domain.example
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=your_bot_username
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHANNEL_USERNAME=@your_channel
TFLW_SECRET_KEY=your_flutterwave_test_secret_key
TFLW_PUBLIC_KEY=your_flutterwave_test_public_key
TFLW_ENCRYPTION_KEY=your_flutterwave_test_encryption_key

FLW_SECRET_KEY=your_flutterwave_secret_key
FLW_PUBLIC_KEY=your_flutterwave_public_key
FLW_ENCRYPTION_KEY=your_flutterwave_encryption_key